* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html {
  height: auto;
}
.large {
  margin-top: 68px;
}
body {
  background: linear-gradient(-45deg, #e4592e, #e73c7e, #23a6d5, #0e6853);
  background-size: 300%;
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.top-bar {
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-bar .top-bar-left .top-bar-right {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.top-bar-right button {
  padding: 10px;
}
.top-bar-left .menu-text {
  font-size: 1.5em;
  margin: auto;
}
#sort-options {
  margin: auto;
}
footer {
  position: relative;
  width: 100%;
  height: 205px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
footer p:nth-child(1) {
  font-size: 25px;
  color: gold;
  margin-bottom: 5px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: white;
  font-size: 15px;
  width: 450px;
  text-align: center;
  line-height: 20px;
}

footer p:nth-child(3) {
  color: white;
  font-size: 15px;
  width: 450px;
  text-align: center;
  line-height: 10px;
  margin-bottom: -7px;
}

.links {
  display: flex;
}

.links a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 20px;
  color: white;
}

.links a:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

.links i {
  font-size: 30px;
}

.callout {
  color: whtie;
  background-color: rgba(77, 74, 74, 0.95);
  cursor: pointer;
  height: 390px;
}

.callout:hover {
  transform: scale(1.07);
  transition: 0.5s;
}

.orbit-container {
  height: 460px;

  cursor: pointer;
}
/* Styling for the pop up modal portion*/
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.806); /* Black w/ opacity */
}
/*styling for the modal pop up*/
.modal-content {
  z-index: 8;
  color: white;
  font-size: larger, border;
  margin: 15% auto;
  margin-top: 7%;
  padding: 20px;
  width: 80%;
  min-height: 80%;
  height: auto;
  background: linear-gradient(
    175deg,
    rgba(94, 121, 255, 1) 6%,
    rgba(164, 25, 54, 1) 91%
  );
  border: 4px solid #101010;
}

.modal-content h5 {
  font-size: 1.5em;
  color: black;
  font-weight: 600;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*header styling*/
.top-bar {
  background-color: #101010;
  position: absolute;
}

.top-bar-left {
  color: #101010;
  font-style: bold;
  font-size: 20px;
  width: 400px;
}
.top-bar-right {
  margin-top: 9px;
}
#input {
  background-color: antiquewhite;
}

.top-bar ul {
  border-radius: 20px 20px;
  background-color: #101010;
  height: auto;
}

.button {
  background-color: #101010;
  border-radius: 20px;
  margin-left: 10px;
  color: gold;
  border: 1px solid gold;
}
.button:hover {
  transform: scale(1.07);
  transition: 0.5s;
}
.top-bar input {
  border-radius: 15px 15px;
  background-color: #19211f5c;
  margin-left: 9px;
  margin-top: 5px;
  border: 1.5px solid gold;
}
.menu-text {
  color: gold;
}

#sort-options {
  background-color: #101010;
  border-color: gold;
  border-radius: 25px;
  color: gold;
  margin-left: 10px;
  margin-top: 5px;
}
#sort-options:hover {
  transform: scale(1.07);
  transition: 0.5s;
}

.menu > li > a {
  color: rgb(12, 85, 134);
  color: gold;
}

.orbit-container {
  height: 500px;
}

#reviews li {
  margin-bottom: 20px;
}

.dropdown menu {
  background-color: #0e6853;
}

#genres {
  background-color: #101010;
  border: 2px solid gold;
  border-radius: 15px 15px;
}
#scoreFt {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: absolute;
  font-size: 1.25em;
  font-style: bolder;
  z-index: 1;
  right: 27px;
  bottom: 5px;
}
#scoreBg {
  position: absolute;
  height: 15%;
  width: 30%;
  right: 10px;
  bottom: 10px;
}
