* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html {
  height: auto;
}
.large {
  margin-top: 68px;
}
body {
  background: linear-gradient(-45deg, #e4592e, #e73c7e, #23a6d5, #0e6853);
  background-size: 300%;
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.top-bar {
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-bar .top-bar-left .top-bar-right {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.top-bar-right button {
  padding: 10px;
}
.top-bar-left .menu-text {
  font-size: 1.5em;
  margin: auto;
}
#sort-options {
  margin: auto;
}
footer {
  position: relative;
  width: 100%;
  height: 205px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
footer p:nth-child(1) {
  font-size: 25px;
  color: white;
  margin-bottom: 5px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: white;
  font-size: 15px;
  width: 450px;
  text-align: center;
  line-height: 20px;
}

footer p:nth-child(3) {
  color: white;
  font-size: 15px;
  width: 450px;
  text-align: center;
  line-height: 10px;
  margin-bottom: -7px;
}

.links {
  display: flex;
}

.links a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 20px;
  color: white;
}

.links a:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

.links i {
  font-size: 30px;
}

.callout {
  color: whtie;
  background-color: rgba(77, 74, 74, 0.95);
  cursor: pointer;
  height: 390px;
}

.callout:hover {
  transform: scale(1.07);
  transition: 0.5s;
}

.orbit-container {
  height: 460px;

  cursor: pointer;
}
/* Styling for the pop up modal portion*/
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.806); /* Black w/ opacity */
}
/*styling for the modal pop up*/
.modal-content {
  margin: 15% auto;
  margin-top: 7%;
  padding: 20px;
  width: 80%;
  min-height: 80%;
  height: auto;
  background: linear-gradient(
    175deg,
    rgba(94, 121, 255, 1) 6%,
    rgba(164, 25, 54, 1) 91%
  );
  border: 4px solid #101010;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.top-bar {
  background-color: #000000c8;
}

.top-bar-left {
  color: rgb(29, 32, 32);
  font-style: bold;
  font-size: 20px;
  width: 500px;
}
.top-bar ul {
<<<<<<< HEAD
  border-radius: 20px 20px 20px 20px;
  background-color: #5e6462b3;
}
.button {
  background-color: #5f64635c;
  border-radius: 20px;
  margin-left: 20px;
}
.top-bar input {
  border-radius: 20px 20px 20px 20px;
  background-color: #5f64635c;
  margin-left: 9px;
=======
    border-radius: 20px 20px 20px 20px;
    background-color: #5e6462b3;
	height: 52px;
}
.button {
    background-color: #5f64635c;
	border-radius: 20px;
	margin-left: 30px;
	margin-top: 8px;
}
.top-bar input {
	border-radius: 20px 20px 20px 20px;
	background-color: #5f64635c;
	margin-left: 9px;
	margin-top: 10px;
>>>>>>> a2d89573c8ea3b5b5ef30d401065bf29108e94ed
}
.menu-text {
  color: aliceblue;
}
.input,
li {
  width: 150px;
}
#sort-options {
  background-color: #5f64635c;
  border-color: #1010106f;
  border-radius: 20px;
}
.menu > li > a {
  color: aliceblue;
}
<<<<<<< HEAD
=======
.menu >li> a {
	color: aliceblue;
	}
	.orbit-container{
		height: 500px;
	}
	
>>>>>>> a2d89573c8ea3b5b5ef30d401065bf29108e94ed
